@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}


body{
	background-image: url(fondo.jpg);
}

canvas{
	margin: auto;
	background-color:rgba(0,0,0,0.8);
	position: absolute;
	border-radius: 5px;
	top:150px;
	left: 0px;
	border: 2px solid white;

}

a{
	font-size: 50px;
	text-decoration: none;
	font-family: Montserrat;
	display: flex;
	margin-left: 150px;
	color: white;
	margin-top: 30px;
}

.start{
	object-fit:none ;
	position: absolute;
	top: 10px;
	left: 300px;
}

.flechaDerechaIzquierda{
	margin-left: 90px;
	margin-top: 350px;
}

.fire{
	margin-top: 0px;
	margin-left: 270px;
}

.modal-show{
	opacity: 1;
	pointer-events: unset;
}

.modal_container{
margin-left: 100px;
	width: 150px;
	height: 150px;
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
	padding: 3em 2.5em;
  display: grid;	
	place-items: center;
	grid-auto-columns: 100%;
	opacity:0;
	z-index: 99;
	position: relative;
}

.modal_title{
	padding-top: 0px;
	margin-top: 0px;
	font-size:20px ;
}

.modal_pharagraph{
	margin-top: 0px;
	margin-bottom:0px;
	margin-left: 50px;
	font-size: 15px;
	color: black;
}

.flechas{
	margin-left: 110px;
	background-color: aqua;
}


.modal_close{
	font-weight: 00px;
	color: black;
	font-size: 10px;
	margin-left: 15px;
	margin-top: 0px;
}



.modal_close:hover{
	color: rgb(255, 0, 0);
	margin: 1 solid black;
}

@media (max-width:320px){
 .wov{
	margin-left: 40px;
 }

 .startOne{
  display: flex;
 }
  
 #lienzo{
	width: 99%;
	height: 200px;
 }

 .btn-start{
	margin-left: 20px;
	margin-top: 9px;
 }

.buttons{
	display: flex;
	flex-direction: row;
	margin-left: 1px;
}

.fire{
	margin-left: 100px;
}

.flechaIzquierda{
	margin-left: px;
}
}

/* @media(min-width: 400px) and (max-width: 376px){
	.buttons{
		display: flex;
	}

	.wov{
		color: black;
	}
} */